[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CovRegRF"]
	path = CovRegRF
	url = https://github.com/cran/CovRegRF
	shallow = true
	registered = true
[submodule "RFCCA"]
	path = RFCCA
	url = https://github.com/calakus/rfcca
	shallow = true
	registered = true
[submodule "RFpredInterval"]
	path = RFpredInterval
	url = https://github.com/calakus/rfpredinterval
	shallow = true
	registered = true
