[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CovRegRF"]
	path = CovRegRF
	url = https://github.com/calakus/covregrf
[submodule "RFCCA"]
	path = RFCCA
	url = https://github.com/calakus/rfcca
[submodule "RFpredInterval"]
	path = RFpredInterval
	url = https://github.com/calakus/rfpredinterval
