[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CovRegRF"]
	path = CovRegRF
	url = https://github.com/cran/CovRegRF
[submodule "RFCCA"]
	path = RFCCA
	url = https://github.com/cran/RFCCA
